@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.backgroundimg{
  height: 400px;
}
.imgsource {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 400px;

}

.form-wrapper{
  padding: 3em 3em 2em;
  margin: 0 auto;
  widows: 100%;
  max-width: 1024px;
}

.form-wrapper-bottom{
  padding: 3em 3em 0em;
  margin: 0 auto;
  widows: 100%;
  max-width: 1024px;
  height: 300px;
  
}

.form-wrapper-button{
  padding: 3em 3em 7em;
  margin: 0 auto;
  widows: 100%;
  max-width: 1024px;
}

.name-label{
  text-align: left;
  display: block;
}

.email-label{
  text-align: left;
  display: block;
}

.message-label{
  text-align: left;
  display: block;
}

.firstname-wrapper{
  float: left;
}

.lastname-wrapper{
  float: left;
}

.email-wrapper{
  float: left;
  
}

.message-wrapper textarea{
  float: left;
  height: 300px;
  width: 370px;
  resize: none;
}

.firstname-wrapper {
  padding-top: 10px;
}

.lastname-wrapper {
  padding: 10px;
}

.email-wrapper {
  padding-top: 10px;
}

.email-wrapper input{
  width: 200px;
  height: 30px;
}

.firstname-wrapper input{
  width: 200px;
  height: 30px;
}

.lastname-wrapper input{
  width: 200px;
  height: 30px;
}

.lastname-wrapper input{
  width: 200px;
  height: 30px;
}



.submit-button {
  /* background-color: #4CAF50; Green */
  
  
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  height: 42px;
  border: 1px solid #727f97;
  outline: none;
  background: transparent;
  float: left;
}

.button-wrapper {
  float: left;
  margin: 10px;
}

.submit-button span {
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 4px 27px;
  color:  #727f97;
  text-align: center;
  
}

 .submit-button:hover, .submit-button:hover span {
  background-color: #727f97;
  color: white;
  
} 
